
body{
    width:98%;
    height:98svh;
    background-color: #F7B7B7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_division{
    display: flex;
    flex-wrap: wrap;
    max-width:1100px;
    width:100%;
    /* background-color: aqua; */
    height:550px;
    gap:25px;
}
.dog_division{
    max-width: 450px;
    width:100%;
    height:550px;
    background-color: #ECBDB7;
    background-size: 100% 100%;
    background-image: url(./7.png);
}
.dog_beside_division{
    display: flex;
    flex-wrap: wrap;
    max-width:625px;
    width:100%;
    height:550px;
    /* background-color: black; */
    gap:40px;
}
.doggy1{
    max-width: 260px;
    width:100%;
    height:250px;
    border-radius: 20px;
    background-color:#313789;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.doggy1_matter{
    max-width: 260px;
    width:100%;
    height:250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    color:black;
}
.doggy2_matter{
    max-width: 260px;
    width:100%;
    height:250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}
.doggy2{
    max-width: 260px;
    width:100%;
    height:250px;
    border-radius: 20px;
    background-color:#313789;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.dogg1_heading{
    max-width:330px;
    width:80%;
    height:60px;
    /* background-color:green; */
    display: flex;

}
.doggy1_content{
    max-width:330px;
    width:80%;
    height:80px;
    /* background-color:yellow; */
    display: flex;

}
.view{
    max-width: 330px;
    width: 80%;
    height:30px;
    /* background-color: cadetblue; */
}
.sub1{
    max-width:300px;
    width:80%;
    height:50px;
    /* background-color: aqua; */
}
.sub2{
    max-width:300px;
    width:80%;
    height:100px;
    /* background-color: blueviolet; */
}
.sub3{
    max-width:300px;
    width:80%;
    height:50px;
    /* background-color: green; */
}

.dog_beside_division:has(.doggy1_matter:hover) .doggy1_matter{
    color: white;
    background-color:#313789;
}

.dog_beside_division:has(.doggy1_matter:hover)  .doggy2_matter{
    background-color:#313789;
}

.dog_beside_division:has(.doggy1_matter:hover) .doggy1{
    background-color: #F7B7B7;
    color: black;
}

.dog_beside_division:has(.doggy1_matter:hover) .doggy2{
    background-color: #F7B7B7;
    color: black;
}
.dog_beside_division:has(.doggy1_matter:hover) .doggy2_matter{
    color: white;
    background-color:#313789;
}
.dog_beside_division:has(.doggy2_matter:hover) .doggy1_matter{
    color: white;
    background-color:#313789;
}
.dog_beside_division:has(.doggy2_matter:hover) .doggy2_matter{
    color: white;
    background-color:#313789;
}
.dog_beside_division:has(.doggy2_matter:hover) .doggy1{
    background-color: #F7B7B7;
    color: black;
}
.dog_beside_division:has(.doggy2_matter:hover) .doggy2{
    background-color: #F7B7B7;
    color: black;
}

